section.min-h-screen.h-screen.flex.items-center
    div
        p.text-base.font-code.text-primary.mb-4(class='lg:text-lg') Hello, my name is
        h1.text-6xl.font-bold.mb-6(class='md:text-7xl lg:text-8xl')=profile.name
        p.text-base.text-offset-text.max-w-screen-sm(class='lg:text-lg') Add some cool headline here. 
            a.text-primary(href=`mailto:${contact.email}`, class='transition-color hover:text-primary-offset') Link label
            |.